<div class="page-text">
  <h3>Privacy Policy</h3>
  <p>
    At shrovamall.com, we are committed to protecting your privacy and ensuring
    the security of your personal information. This Privacy Policy outlines how
    we collect, use, disclose, and safeguard the information you provide when
    using our website. By using shrovamall.com, you consent to the practices
    described in this policy.
  </p>
  <div class="plcy-pnt-ttl">1. Information Collection:</div>
  <div class="plcy-pnt-sbttl">1.1. Personal Information:</div>
  <div class="plcy-pnt-txt">
    When you register an account or use our services, we may collect personal
    information such as your name, email address, contact details, and payment
    information. We only collect this information when you voluntarily provide
    it to us.
  </div>
  <div class="plcy-pnt-sbttl">1.2. Non-Personal Information:</div>
  <div class="plcy-pnt-txt">
    We may also collect non-personal information such as your browser type,
    operating system, IP address, and website usage statistics. This information
    is collected automatically through the use of cookies and other tracking
    technologies.
  </div>
  <div class="plcy-pnt-ttl">2. Use of Information:</div>
  <div class="plcy-pnt-sbttl">2.1. Personal Information:</div>
  <div class="plcy-pnt-txt">
    We may use the personal information you provide to:
    <ul>
      <li>Process and fulfill your requests for our services.</li>
      <li>
        Communicate with you regarding your account, advertisements, and
        inquiries.
      </li>
      <li>
        Send you promotional materials, newsletters, or updates about our
        services, with your consent.
      </li>
      <li>Improve our website, services, and customer experience.</li>
      <li>Detect and prevent fraud or unauthorized activities.</li>
    </ul>
  </div>
  <div>...</div>
  <div class="plcy-pnt-txt">Last updated: 15 May, 2024</div>
</div>
