.wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.input {
  width: 100%;
}
.btn-save {
  margin-top: 20px;
}
.wrapper-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
