<div class="pg-wrpr">
  <div class="wrapper">
    <p-panel>
      <div class="wrapper-2">
        <label for="password">New Password</label>
        <input pInputText type="password" [(ngModel)]="password" />
        <label for="confirmPassword">Confirm Password</label>
        <input pInputText type="password" [(ngModel)]="confirmPassword" />
        <p-button
          [disabled]="!isValid()"
          (onClick)="onSave()"
          label="Save"
          class="btn-save"
        ></p-button>
      </div>
    </p-panel>
  </div>
</div>
