<footer class="footer">
  <div class="first-group">
    <img class="logo" src="assets/images/logo.png" />
    <section class="main-footer">
      <div routerLink="/about" class="link">About</div>
      <div routerLink="/contact" class="link">Contact</div>
    </section>
    <div class="divider nwsltr-dvdr"></div>
    <section class="newsletter">
      <app-newsletter></app-newsletter>
    </section>
  </div>

  <div class="divider"></div>
  <section class="policy-footer">
    <div routerLink="/terms-and-conditions" class="link">
      Terms and Conditions
    </div>
    <div routerLink="/privacy-policy" class="link">Privacy Policy</div>
    <div routerLink="/cookies-policy" class="link">Cookies Policy</div>
    <div routerLink="/disclaimer" class="link">Disclaimer</div>
    <div routerLink="/copyright-notice" class="link">Copyright Notice</div>
    <div routerLink="/dmca-policy" class="link">DMCA Policy</div>
    <div routerLink="/refund-policy" class="link">Refund Policy</div>
    <div routerLink="/terms-of-sale" class="link">Terms of Sale</div>
  </section>
  <div class="divider"></div>
  <section class="copyright-footer">
    <img class="cpy-lgo" src="assets/images/logo.png" />
    <p>©2024 by Shrova Mall, all rights reserved.</p>
  </section>
</footer>
